{% extends "base.html" %}

{% block the_body %}

{% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul>
                {% for message in messages %}
                    <li>{{ message }}
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    <ul class="nav nav-pills">
      <li role="presentation" ><a href="/welcome">Welcome</a></li>
	  <li role="presentation" class="active"><a href="#">login</a></li>
	  <li role="presentation"><a href="/register">Registration</a></li>
    </ul>
	
	<div class='container'>
			<h1>Statistics<h1>
			<p>This feature is still under construction<br>
			When this feature is completed it will have the following functionality:
					<ul>
					<li>Most common winning number</li>
					<li></li>
					<li></li>
					<li></li>
					</ul>
			
			
			</p>
			<br>
		</div>


{% endblock %}
