<!DOCTYPE HTML>
<html>
	<head>
		<title>Lotto Project</title>
		<meta name='viewport' content='width=device-width,initial-scale=1.0'>
		<link href='static/css/bootstrap.min.css'rel='stylesheet' type="text/css" >
		<script src='static/JS/functions.js'></script>
		<script src='static/JS/jquery-1.11.2.min'></script>
	</head>
	<body>
		<div class='container'>
			<h1>Thank You for using this service</h1>
			<br>
			<p>click <a href='/home'>here</a> to go home.</p>
			<button onclick="newPage()">load camera</button>
			{% for message in get_flashed_messages() %}
				{{ message }}
			{% endfor%}

	</body>
</html>