{% extends "base.html" %}

{% block the_body %}

{% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul>
                {% for message in messages %}
                    <li>{{ message }}
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
	<link href='../static/css/bootstrap.min.css'rel='stylesheet' type="text/css" >
    <link href='../static/JS/bootstrap.min.js' rel='stylesheet'>
	<link href='../static/css/background.css' rel='stylesheet' type="text/css" >
    <ul class="nav nav-pills">
      <li role="presentation"class="active" ><a href="#">Welcome</a></li>
	  <li role="presentation" ><a href="/login">login</a></li>
	  <li role="presentation"><a href="/register">Registration</a></li>
    </ul>

	<div class='container'>
			<h1>This is the companion lotto website for the lotto App</h1>
			<p>The lotto app is currently the only app on the market that enables you to scan a lottery ticket rather than checking the numbers by hand </p>
			<br>
		</div>


{% endblock %}
